@import './constants';

.answer-list {
  padding: 0 30px;

  &__item {
    list-style-type: none;
    border-radius: 15px;
    box-shadow: -4px 4px black;
    background: $lightpink;
    padding: 10px 0 10px 20px;
    font-size: 24px;
    color: $darkpink;
    text-align: start;
    cursor: pointer;

    &:hover {
      box-shadow: -5px 7px black;
      transform: translate(1px, -3px);
    }

    &:active {
      box-shadow: none;
      transform: translate(-4px, 4px);
    }
  }

  &__item + &__item {
    margin-top: 10px;
  }
}