@import './constants';
@import './winx-style-text';
@import './global';
@import './quiz';
@import './answer-list';
@import './result';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $darkpink;
}


